### SBT template
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache
.lib/

### JetBrains template
# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/
.idea
